div.canvas {
	height: calc( 100% - 42px );
	width: 100%;

	background-image: url( static/image/bg-light.png );
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACAQMAAABIeJ9nAAAABlBMVEX////Z2dl4b8nnAAAADElEQVQI12NwYGgAAAFEAMHrWQMJAAAAAElFTkSuQmCC);
	/* background: url( data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAGElEQVQYV2NkYGBgePfu3X9GECEkJMQIAES/B8xcEGU3AAAAAElFTkSuQmCC ); */
}

div.canvas {
	image-rendering: pixelated;
}

div.canvas {
	/* box-shadow: inset 0 0 0 2px #FFF; */
	border: 2px solid #FFF;
}


div.canvas {
	/* cursor: none; */
	/* cursor: crosshair; */
}

div.canvas {
	position: relative;
}

div.canvas {
	/* margin: 3px; */
	/* box-shadow: 0 0 0 1px #DDD; */
}

/*  */

div.canvas > canvas {
	position: absolute;

	box-shadow: 0 0 0 2px #444;
}

/*  */

div.panel-canvas {
	padding-right: 1px;
}

div.panel-canvas > div.panel-header {
	/* font-weight: 700; */
}
