overlay {
	display: block;

    opacity: 1.0;
    pointer-events: all;

    position: absolute;
    top: 0;
    left: 0;
    background: rgba( 255, 255, 255, 0.2 );
    width: 100%;
    height: 100%;
    padding: 32px;
	overflow: hidden;

}

body.hide-overlay > overlay {
    opacity: 0;
    pointer-events: none;
}
