html {
    -webkit-user-select: none; user-select: none;
    -webkit-user-drag: none;
    vertical-align: center;
}

body,
html {
    height: 100vh;
    overflow: hidden;
}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    outline: 0;
    border: 0;
    padding: 0;
    -webkit-user-drag: none;
    line-height: inherit;

    vertical-align: top;
}
