@import "overlay.css";
@import "canvas.css";

html {
    background: #000;
    color: #FFF;
    font-family: 'Courier New', Courier, monospace;
}

body {
    overflow: hidden;
    margin: 0;
}

div.center {
    width: 512px;
    margin-left: calc( 50vw - 256px );
}

div#drop {
    border: 4px dashed #444;
    height: 64px;
    margin: 4px 0;
}

div#drop.drag-over {
    border-color: #666;
}

ul {
    list-style: none;
    line-height: 32px;
}

ul > li > a {
    display: block;
}

/* ul > li > a:hover {
    background: #222;
} */

h#fps {
    line-height: 32px;
    height: 32px;
}

ul#roms > li > a::before {
    content: attr( data-key );
}

dl {
    display: block;
    width: 256px;
    border: 1px solid #FFF;
}

dt, dd {
    float: left;
    padding-left: 6px;
}

dt, dd {
    width: 127px;
}

dl::after {
    content: "";
    display: block;
    clear: both;
}

main {
    display: flex;
}

main > column {

}

body {
    display: flex;
    flex-direction: column;
}

h {
    display: block;
    height: 32px;
    line-height: 32px;
}

top {
    height: 32px;
    border-bottom: 1px solid currentColor;
    display: flex;
}

top > t {
    padding: 0 8px;
    display: block;
    flex-grow: 1;
    line-height: 32px;
}

a {
    padding: 0 8px;
    color: currentColor;
    line-height: 32px;
    color: #F6E;
}

a:hover {
    background: currentColor;
    color: #FFF;
}

main {
    flex-grow: 1;
    border-top: 1px solid currentColor;
}


a:hover {
	background: #FFE8FC;
    color: #444;
}

a:hover:active {
	background: #FFD1FA;
    color: #444;
}

h {
    display: flex;
}

column {
    border: 0 solid currentColor;
    border-width: 0 1px;
}

column.main {
    flex-grow: 1;
}


body.focus column:not( column.main ) {
    display: none;
}


body.fullscreen, main,
body.focus column.main {
    border: 0;
}

body.focus column.main h,
body.focus column.main monitor  {
    display: none;
}

body.focus top,
body.fullscreen top {
    display: none;
}

select {
    background: transparent;
}

option {
    background: #000;
    color: #FFF;
    line-height: 32px;
}

optgroup + optgroup {
    border-top: 1px solid currentColor;
}

label {
    display: block;
    line-height: 32px;
    padding-left: 8px;
}

column > page {
    /* display: block; */
    /* width: 100%; */
}

column > page:not([active]) {
    display: none;
}

h {
    display: flex;
}

h > t {
    flex-grow: 1;
}
