top {
	display: flex;
	padding: 0 16px;
}

top > div.spacer {
	flex-grow: 1;
}


main {
	border-top: 1px solid #666;
	overflow: hidden;
}

/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

panel.panel-menu {
	width: 48px;
	left: 0;
	border-right: 1px solid #666
}

panel.panel-menu {
	width: 203px;
	border-right: 1px solid #666;
}

panel.panel-menu {
	width: 240px;
}

/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

panel.panel-canvas {
	left: 203px;
	overflow: hidden;
}

main.layer-full   > panel.panel-canvas,
main.layer-normal > panel.panel-canvas { width: calc( 100vw - 155px - 48px - 240px ); }
main.layer-focus  > panel.panel-canvas { width: calc( 100vw - 240px -  48px        ); }
main.layer-hidden > panel.panel-canvas { width: calc( 100vw - 155px - 48px -   0px ); }

main.layer-full > panel.panel-canvas {
	opacity: 0.0;
	transition: opacity 0.1s linear, width 0.2s step-end;
	/* NOTE width doesn't change actually */
	transition: opacity 0.1s linear;
}

/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

main.layer-full > side {
	left: calc( 48px + 155px );
	border-left: 0;
	overflow-y: scroll;
}



side > panel-body > panel {
	transform: translateX( 0 );
	transition: transform 0.2s ease, width 0.2s ease;
}


main.layer-full > side > panel-body > panel {
	margin-left: 24px;
	transform: translateX( -24px );
	transition: transform 0.2s ease-out 0.0s;

	padding-left: 12px;
	overflow: hidden;
}

side > ul.tab-list {
	margin-left: 0;
	display: flex;
	opacity: 0.0;
	transform: translateX( 24px );
	pointer-events: none;
}

ul.tab-list > li:first-child {
	width: 141px;
	border-left-width: 0;
	margin-left: 0;
}

ul.tab-list > li > a {
	/* NOTE messes up bottom-right miter */
	/* margin-right: -1px; */
}

main.layer-full > side > ul.tab-list {
	opacity: 1.0;
	transform: translateX( 0px );
	transition: transform 0.2s ease-out 0.0s;
	pointer-events: auto;
}

side > ul.tab-list > li.spacer ~ li {
	transform: translateX( -24px );
}

main.layer-full > side > ul.tab-list > li.spacer ~ li {
	transform: translateX( 0 );
	transition: transform 0.2s ease-out 0.0s;
}

side {
	/* background: #FFF; */
	background: rgba( 255, 255, 255, 0.8 );
}


side > panel-body {
	margin-top: -41px;
}

main.layer-full > side > panel-body {
	margin-top: 0;
}

/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

body.focus side {
	left: calc( 100vw - 48px );
}

/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

side {
	width: calc( 100vw );
	width: calc( 100vw - 155px - 48px );
	overflow: hidden;
}

/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

main.layer-full > side > panel-body {
	margin-right: -24px;
}

/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

side {
	display: block;
}

panel-body {
	display: flex;
	flex-direction: column;
}

div.history {
	width: 240px;
	flex-grow: 1;
	display: flex;
}

div.history > ul.layer-list {
	flex-grow: 1;
}

/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

panel-body > panel {
	border-top: 1px solid #666;
	margin-top: -1px;
	width: 240px;
	height: 50%;
	flex-grow: 1;

}

panel.panel-history {
	display: flex;
}

panel-body > panel {
	overflow-x: hidden;
	overflow-y: scroll;
}


main.layer-focus panel.panel-history > ul {
	display: none;
}


panel.panel-history > ul {
	border-right: 1px solid #666;
}

/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

panel.panel-canvas {
	left: 240px;
}

main.layer-full   > panel.panel-canvas,
main.layer-normal > panel.panel-canvas {
	width: calc( 100vw - 240px - 240px );
    left: 240px;

}

main.layer-full > side {
    left: 240px;
	width: calc( 100vw - 240px );
}

/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

side {
	left: calc( 100vw - 240px );
	width: 240px;

	border-left: 1px solid #666;
}

side {
	display: flex;
	flex-direction: column;
}

/* main.layer-full > side, */
main.layer-full > side > panel-body,
main.layer-full > side > panel-body > panel {
	width: 100%;
}

panel > panel-body > panel {
	width: 100%;
}

panel.panel-menu > panel-body > panel {
	overflow: hidden;
}

body.focus side > panel-body > panel-header {
	display: none;
}


side {
	display: flex;
	flex-direction: column;
}

side > panel-body > panel {
	flex-grow: 1;
}




side > *
side > * > * {
	display: block;
}

























body {
    overflow: hidden;
}

top {
    height: 32px;
    border-bottom: 1px solid currentColor;
    display: flex;
}

menu, side, main {
    border: 0 solid currentColor;
    border-width: 0 1px;
}

main {
    overflow: hidden;
    min-width: 1024px;
}

menu > page,
side > page,
column > page {
    /* margin: 0 -8px; */
    /* padding: 0 8px; */
}

menu > page > ul#rom {
    /* margin: 0 -8px; */
    overflow-y:scroll;

}

side {
    min-width: 530px;
    max-width: 530px;
}

side {
    overflow: hidden;
}


h {
	padding-left: 8px;
}






body {
    display: grid;
}

body {
	width: 100%;

    display: grid;
    grid-template-columns: 340px 1fr 530px;
    grid-template-rows: 32px 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

top  { grid-area: 1 / 1 / 2 / 6; }
menu { grid-area: 2 / 1 / 3 / 2; }
main { grid-area: 2 / 2 / 3 / 3; }
side { grid-area: 2 / 3 / 3 / 4; }

side {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 32px 1fr;
}

menu, side {
    border-width: 0;
}
