ul.tool-list {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	text-wrap: nowrap;
	text-align: center;
}

ul.tool-list > li {
	min-width: 0;
}

ul.tool-list > li > a {
	display: block;
	position: relative;
	height: 40px;
	line-height: 40px;
	border-bottom: 4px solid transparent;
}

ul.tool-list > li > a:hover {
	background: var( --color-bg-hover );
}

ul.tool-list > li.active > a {
	border-bottom-color: #F6E;
    background: #F2F2F2;
    color: #F6E;
}

ul.tool-list > li > a:not( [disabled] ):active {
	background: #DDD;
}

ul.tool-list > li.active > a,
ul.tool-list > li > a:not( [disabled] ):active {
	background: #FFD1FA;
	color: #000;
}

ul.tool-list > li > a[disabled] {
	color: #AAA;
}

ul.tool-list > li.hover          > a:not( [disabled] ),
ul.tool-list > li:not( .active ) > a:not( [disabled] ):active {
	transform: scale( 0.95 );
}

ul.tool-list > li:not( .active ) > a:not( [disabled] ):hover {
	background: #FFE8FC;
}

ul.tool-list > li:not( .active ).hover > a:not( [disabled] ),
ul.tool-list > li:not( .active ) > a:not( [disabled] ):hover:active {
	background: #FFD1FA;
	color: #000;
}

body:not( .focus ) ul.tool-list > li > a[data-name]::before {
	content: attr( data-name );
	display: inline;
}

ul.tool-list > li > a[data-label]::after {
	display: block;
	content: attr( data-label );
	text-transform: uppercase;
}

body:not( .focus ) ul.tool-list > li > a[data-label]::after {
	display: none;
}

body.focus menu ul.tool-list {
	display: flex;
	flex-direction: column;
}



body.focus ul.tool-list + ul {
	border-top: 1px solid currentColor;
}
