ul.layer-list {
	line-height: 40px;
	padding-left: 16px;
}

ul.layer-list > li::before {
	width: 4px;
	height: 38px;
	content: "";
	position: absolute;
	left: calc( -16px + 2px );
	left: -16px;
	top: 0;
	z-index: 2;
}

ul.layer-list > li.active::before {
	z-index: 20;
	top: 0;
	height: 40px;
	width: 4px;
	left: -16px;
	background: var( --color-fg-active );
}


ul.layer-list > li > a {
	display: block;
	margin: 0 0 0 -8px;
	padding: 0 8px;
	margin-left: -16px;
	padding-left: 16px;
}

ul.layer-list > li > a:hover {
	background: var( --color-bg-hover );
}

ul.layer-list > li > a:hover:active {
	background: var( --color-bg-active );
}

canvas.thumb {
	margin-right: 8px;
	margin-top: 4px;
	float: left;
	background: #FFF;
	outline: 1px solid currentColor;
	outline-offset: -1px;
}

li.fill canvas.thumb {
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACAQMAAABIeJ9nAAAABlBMVEX////Z2dl4b8nnAAAADElEQVQI12NwYGgAAAFEAMHrWQMJAAAAAElFTkSuQmCC);
	background-size: 8px;
	background-position: 1px 1px;
	image-rendering: pixelated;
}

menu div.box {
	width: 219px;
	box-shadow: none;
}
