/* 0.1.3 */

ul.tool-list > li > a {
	display: block;
	position: relative;
	height: 40px;
	line-height: 40px;
	padding-left: 48px;
	border-left: 4px solid transparent;
}

/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

/* 0.2.3 */

ul.tool-list > li > a:hover {
	background: #F2F2F2;
}

ul.tool-list > li.selected > a {
	border-left-color: #F6E;
    background: #F2F2F2;
    color: #F6E;
}

/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

/* 0.3.3 */

ul.tool-list > li > a:not( [disabled] ):active {
	background: #DDD;
}

/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

/* 0.2.3 */
/* 0.3.3 */

ul.tool-list > li.selected > a,
ul.tool-list > li > a:not( [disabled] ):active {
	background: #FFD1FA;
	color: #000;
}

/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

/* 0.2.3 */

ul.tool-list > li > a[disabled] {
	color: #AAA;
}

/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

/* 0.4.3 */

/* TODO move .active to <a> */

ul.tool-list > li:not( .selected )        > a:not( [disabled] ):active,
ul.tool-list > li.active                  > a:not( [disabled] ) {
	transform: scale( 0.98 );
}

ul.tool-list > li:not( .selected ) > a:not( [disabled] ):hover {
	background: #FFE8FC;
}

/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

/* 0.4.5 */

div.main.tools-focus div.panel-menu ul.tool-list > li > a {
	padding-left: 0;
	font-size: 0;
	width: 47px;
	overflow: hidden;
}

/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

/* 0.5.3 */

ul.tool-list > li:not( .selected ) > a:not( [disabled] ):hover:active {
	background: #FFD1FA;
	color: #000;
}

ul.tool-list.mute > li:not( .selected ) > a:hover:not( :active ) {
	background: #FFF;
}

/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

/* 0.6.5 */

/* TODO move .active to <a> */

div.main.tools-focus div.panel-menu ul.tool-list > li        > a:not( [disabled] ):active,
div.main.tools-focus div.panel-menu ul.tool-list > li.active > a:not( [disabled] ) {
	transform: scale( 0.95 );
}

/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/




















ul.tool-list > li.recent > a:before {
	content: "";
	display: block;
	width: 6px;
	height: 6px;
	background: #07D;
	border-radius: 50%;
	position: absolute;
	top: 2px;
	left: 2px;
}

ul.tool-list > li > a[data-label]::after {
	content: attr( data-label );
	width: 32px;
	/* position: absolute; */
	/* right: 16px; */
	/* bottom: 2px; */
	/* font-size: 8px; */
	float: right;
	text-align: center;
	/* font-weight: 500; */
	/* opacity: 0.5; */

	text-transform: uppercase;
}

/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

ul.tool-list > li {
	border: 0 solid transparent;
	border-width: 1px 0;
}

ul.tool-list > li.first {
	border-top-color: #444;
}

/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

div.main.layer-full > div.menu > ul.tool-list {
	opacity: 0.0;
	transform: translateX( -24px );
	transition: opacity 0.1s linear, transform 0.2s ease;
}

ul.tool-list {
	border-bottom: 1px solid #666;
}

/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

ul.tool-list > li > a > span[class^="icon-"] {
	position: absolute;
	left: 0px;
}

ul.tool-list > li > a > span.icon-plus,
ul.tool-list > li > a > span.icon-plus + span {
	padding: 0;
	position: absolute;
}

ul.tool-list > li > a > span.icon-plus {
	font-size: 16px;
	width: 16px;

	top: 6px;
	left: 4px;
}

ul.tool-list > li > a > span.icon-plus + span {
	font-size: 20px;
	width: 20px;

	top: 12px;
	left: 16px;
}

ul.tool-list > li > a > span.icon-plus::before,
ul.tool-list > li > a > span.icon-plus + span::before {
	padding: 0;
}

/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

div.main.tools-focus div.panel-menu > div.panel-body {
	width: 47px;
	transition: width 0.2s step-end;
}

ul.tool-list:last-of-type {
	border-bottom-color: transparent;
}

/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

ul.tool-list > li > a > span.icon-pencil + span.icon-eyedropper::before {
	padding: 0;
}

ul.tool-list > li > a > span.icon-pencil + span.icon-eyedropper {
	width: 16px;
	height: 16px;
	font-size: 14px;
	left: 22px;
	top: 18px;
}

/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

ul.tool-list {
	padding: 1px 0;
}

/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
