ul.history-list > li:empty {
	display: none;
}

/*  */

ul.history-list {
	flex-grow: 1;
}

ul.history-list {
	line-height: 40px;
}

ul.history-list > li > a {
	padding: 0 16px;
}

ul.history-list > li.new ~ li {
	transform: translateY( -40px );
	transition: none;
}

ul.history-list > li.new {
	opacity: 0.0;
	transform: translateY( -40px );
}

ul.history-list > li {
	opacity: 1.0;
	transform: translateY( 0 );
	transition: opacity 0.1s linear 0.1s, transform 0.2s ease;
}

/*  */

ul.history-list > li > a {
	display: block;
}

/*  */

ul.history-list > li > a:hover {
	background: #FFE8FC;
}

ul.history-list:active > li > a:hover {
	background: #FFD1FA;
}

/*  */

ul.history-list > li > a {
	display: flex;
}

/*  */

ul.history-list > li > a {
	display: flex;
}

ul.history-list {
	margin: 2px;
}

ul.history-list::after {
	content: "";
	display: block;
	height: 40px;
}

div.panel-history > div.panel-body > ul.history-list {
	flex-grow: 1;
}

/*  */

ul.history-list::after {
	content: "New file";
	color: #AAA;
	padding: 0 16px;
}

ul.history-list > li > a > div > span.icon-pen {
	font-size: 16px;
	width: 16px;
	height: 16px;
	height: 40px;
	padding: 12px 0;
	margin-right: 4px;
}

ul.history-list > li > a > div > span.icon-pen::before {
	padding: 0;
}

ul.history-list > li > a > div > b {
	font-weight: 500;
}

ul.history-list > li > a > div > span.icon-pen {
	display: none;
}
