@import "../reset.css";
@import "./icon_hack.css";

@import "../layout.css";
@import "./canvas.css";

@import "./list_tool.css";
@import "./list_layer.css";
@import "./list_tab.css";

@import "./scrubber.css";
@import "./panel.css";
@import "./scrollbar.css";

@import "./palette.css";
@import "../top.css";

@import "./theme.css";

@import "./list_history.css";

@import "./wip.css";


top > t {
	padding: 0 8px;
}


a {
    padding: 0 8px;
}

panel-header {
	padding: 0 8px;

	height: 32px;
	line-height: 32px;
}

menu,
side {
	background: #FFF;
}


menu {
	width: 240px;
}

body {
    grid-template-columns: 240px 1fr 240px;
    grid-template-rows: 32px 1fr;
}

main {
	display: flex;
	flex-direction: column;
}

main > panel-body {
	flex-grow: 1;
	overflow: scroll;
}

panel-header {
	padding: 0;
}
