@import "../reset.css";

@import "../layout.css";
@import "./canvas.css";

@import "./list_tool.css";
@import "./list_layer.css";
@import "./list_tab.css";

@import "./scrubber.css";
@import "./panel.css";
@import "./scrollbar.css";

@import "./palette.css";
@import "../top.css";

@import "./theme.css";

@import "./list_history.css";

@import "./wip.css";




main-body {
	flex-grow: 1;
	overflow: scroll;
}



main {
	overflow: hidden;
}


a {
    padding: 0 8px;
}

h {
	padding: 0 8px;

	height: 32px;
	line-height: 32px;
}

h {
	padding: 0;
}

h {
	display: block;
	line-height: 32px;
}

h {
	display: flex;
	max-width: 260px;
}

h[data-label]::after {
	content: "(" attr( data-label ) ")";
	padding-right: 8px;
	text-align: right;
	flex-grow: 1;
	min-width: 0;
}






menu {
	width: 260px;
}



main {
	display: flex;
	flex-direction: column;
}

main > panel-body {
	flex-grow: 1;
	overflow: scroll;
}





menu > page:not(:first-child) {
	border-top: 1px solid currentColor;
}

menu > page {
	display: block;
}




side {
	display: flex;
	flex-direction: column;
}

li {
	position: relative;
}


/* li > a[data-label]::after {
	content: "(" attr( data-label ) ")";
	position: absolute;
	right: 0;
	line-height: inherit;
	padding-right: 8px;
	top: 0;
} */










body.focus menu h {
	display: none;
}


body {
	-webkit-user-select: none; user-select: none;
}

main > h {
	display: flex;
	width: 100%;
	max-width: 100%;
}

main > h > ol {
	flex-grow: 1;
}

main > h > ol > li[active]::after {
	content: "";
	display: block;
	width: 100%;
	height: 4px;
	background: #F6E;
	position:absolute;
	bottom: -1px;
}





main > h > ol {
	display: flex;
}

main > h > ol > li > a {
	display: block;
	height: 100%;
}


main > h > ol > li:not([active]) > a:hover {
	background: #FFE8FC
}

main > h > ol > li[active] > a,
main > h > ol > li:not([active]) > a:active {
	background: #FFD1FA;
}


main > h > ol > li:last-child > a:hover,
main > h > ol > li:last-child > a:active {
	background: #000;
	color: #FFF;
}

main > h > ol > li:last-child > a:active {
    transform: scale(0.95);
}













main {
	display: grid;
	grid-template-rows: 32px 1fr 32px;
}

main-body {
	min-height: 0;
}




main,
body {
	overflow: hidden;
}

main {
    min-height: 0;
}


main-body {
	flex-grow: 0;
	min-height: 0;
}







menu {
	height: calc( 100vh - 32px );
	overflow: hidden;
}

menu > * {
	min-height: 0;
	flex-shrink: 0;

}

menu > page:last-child {
	flex-shrink: 1;
}


menu {
	display: flex;
	flex-direction: column;
}


main {
	display: flex;
}

main-body {
	flex-grow: 1;
}


menu > h,
menu > page > h,
side > page > h {
	padding-left: 8px;
}








h {
    display: flex;
}

h > t {
    flex-grow: 1;
}




ul.button-list {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	line-height: 40px;
	text-align: center;
}






ul.button-list > li > a:not([disabled]):hover,
ul.button-list > li > a:not([disabled]):active {
	background: #000;
	color: #FFF;
}

ul.button-list > li > a:not([disabled]):active {
	transform: scale( 0.95 );
}


a[disabled] {
	color: #AAA;
}









top ol {
    display: flex;
    flex-direction: row;
}




body.focus menu {
	height: 100vh;
}



ul.layer-list > li {
	display: block;
}

ul.layer-list > li > a[data-label]::after {
	content: attr( data-label );
}







side page {
	width: 260px;
}

menu page + page,
side page + page {
	border-top: 1px solid currentColor;
}

menu > page > p {
	padding: 0 8px;
}

menu > page > p {
	display: grid;
	grid-template-columns: min-content auto;
	line-height: 32px;
}

menu > page > p > label {
	margin-right: 8px;
}


canvas#canvas-preview {
	width: 256px;
	height: 256px;
	margin-left: 2px;
}
