h {
	flex-shrink: 0;
	display: flex;

	margin-top: -1px;
	padding: 0 16px;
	padding-right: 0;
	padding: 0;

	height: 32px;
	line-height: 30px;

	border: 0 solid #666;
	border-width: 1px 0;
	border-color: transparent;
}

h > div:first-child {
	flex-grow: 1;
	padding: 0 16px;
}

h > a:not( [disabled] ):not( .mute ):hover,
h > a:not( [disabled] ):not( .mute ):active {
	background: #000;
	color: #FFF;

	opacity: 1.0;
}

h > a[disabled]:hover > div.a-inner {
	/* background: #F2F2F2; */
}

h > a:not( [disabled] ):not( .mute ):active {
	transform: scale( 0.95 );
}

h > a.mute:not(.hover) {
	background: #FFF;
	color: #444;
}

h > a > div.a-inner > span {
	font-size: 20px;
}


h > a {
	padding: 0 8px;
	line-height: 30px;
}
