h {
	flex-shrink: 0;
	display: flex;

	margin-top: -1px;
	padding: 0 16px;
	padding-right: 0;
	padding: 0;

	height: 32px;
	line-height: 30px;

	border: 0 solid #666;
	border-width: 1px 0;
	border-color: transparent;
}

h > div:first-child {
	flex-grow: 1;
	padding: 0 16px;
}

h > a:not( [disabled] ):hover,
h > a:not( [disabled] ):active {
	background: #000;
	color: #FFF;

	opacity: 1.0;
}

h > a:not( [disabled] ):active {
	transform: scale( 0.95 );
}

h > a {
	padding: 0 8px;
	/* line-height: 30px; */
}
