div.scrubber-outer {
	width: 48px;
	border-left: 1px solid #666;

	/* height: 200px;
	margin-top: 100px; */

	overflow: hidden;
}

div.scrubber-inner {
	height: 100vh;

	transform: translateY( 0 );

	background:
		linear-gradient( 0, #FFF, #FFF  5px, #AAA  5px ),
		linear-gradient( 0, #FFF, #FFF 47px, #AAA 47px );

	background-position: 2px -1px;		

	background-size:
		  8px  6px,
		 16px 48px;

	background-repeat: repeat-y;
}

div.scrubber-outer {
	flex-shrink: 0;
	border: 0;
}