
a[disabled] {
	color: #AAA;
}

/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

div.box {
	position: absolute;
	top: 2px;
	left: 2px;
	width: 43px;
	height: 16px;
	border: 2px solid #F6E;
	box-shadow: inset 0 0 0 1px #FFF;
	pointer-events: none;
}

/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

f {
	height: 42px;
	border-top: 1px solid #666;
	height: 24px;
	display: flex;
	line-height: 24px;
}

f > div {
	padding: 0 8px;
}

div.box {
	z-index: 10;
}

body {
	overflow: hidden;
}

div.rgb {
	width: 16px;
	height: 16px;
	margin-top: 12px;
	margin-right: 6px;

	border: 1px solid currentColor;
	box-shadow: inset 0 0 0 1px #FFF;
}

page#page-history {
	flex-direction: column;
}

page#page-history > panel-body {
	display: flex;
	flex-direction: row;
}

panel-body > page#page-history {
	overflow: auto;
}

page#page-history > panel-body {
	overflow-x: hidden;
    overflow-y: scroll;
}


f {
	flex-shrink: 0;
}

panel.panel-layer panel-body {
	height: reset;
	flex-grow: 1;
}

panel.panel-layer {
	display: flex;
	flex-direction: column;
}

panel-body > .panel {
	width: 239px;
}

panel-body > panel.panel-layer {
   overflow: hidden;
}

panel-body > panel.panel-layer > panel-body {
	overflow-x: hidden;
	overflow-y: scroll;
}

side div.box {
    width: 43px;
}

side > panel-body {
    margin-top: 0;
}

panel.panel-full {
	position: absolute;
	left: 0;
	top: 0;

	z-index: 100;

	opacity: 0.0;
	pointer-events: none;
}

menu div.box {
	display: none;
}
