canvas {
	image-rendering: pixelated;
}


div.canvas {
	overflow: scroll;
}

div.canvas {
	overflow: hidden;
	height: 100%;
}

/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

div.view-label::before {
	content: attr( data-label );
}

/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/


/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

div.label {
	height: 40px;
	line-height: 40px;
	padding: 0 16px;
}

panel.panel-canvas > panel-body {
	overflow: scroll;
	height: calc( 100% - 42px );
}

main.layer-full > div.column-right > panel-body > panel-header {
	display: none;
}


/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/





panel.panel-canvas > panel-header {
    margin-left: 2px;
    padding-left: 14px;
    margin-right: -1px;
}

/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

panel.panel-menu {
	overflow: hidden;
}

panel.panel-menu > panel-body {
	width: 239px;
}

main.tools-focus > panel.panel-menu {
	width: 48px;
}

main.tools-focus > panel.panel-menu > panel-body > panel-header > div:first-child,
main.tools-focus > panel.panel-menu > panel-body > panel-header > div:first-child + a {
	display: none;
}

/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

main.tools-focus > panel.panel-canvas {
	left: 48px;
	width: calc( 100vw - 48px - 240px );
}

main.tools-focus.layer-focus > panel.panel-canvas {
	left: 48px;
	width: calc( 100vw - 48px - 48px );
}

/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

/* div.canvas {
	border: 4px solid #FFF;
}

panel.panel-canvas > panel-header {
    margin-left: 4px;
    padding-left: 12px;
} */

/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

panel.panel-canvas > panel-header {
    margin-left: 0;
    padding-left: 16px;
}

/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

main.layer-full > div.column-right > panel-body > panel {
	overflow: visible;
}

main.layer-full > div.column-right > panel-body > panel:not( .active ) {
	display: none;
}

panel-body > panel {
	flex-shrink: 1;
}

/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/



/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

main.layer-full > div.column-right {
	overflow: visible;
}

main.layer-full > div.column-right > panel-body {
	overflow-y: scroll;
	overflow-x: hidden;
}

/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

panel-header > a[disabled] {
	color: #AAA;
}

panel-header > a.mute[disabled] > div.a-inner {
	color: #AAA;
}

/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

div.box {
	position: absolute;
	top: 2px;
	left: 2px;
	width: 43px;
	height: 16px;
	border: 2px solid #F6E;
	box-shadow: inset 0 0 0 1px #FFF;
	pointer-events: none;
}

/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

panel-footer {
	height: 42px;
	border-top: 1px solid #666;
}

panel.panel-canvas {
	padding-right: 0;
}

panel.panel-canvas > panel-header {
	margin-right: 0;
}

panel.panel-canvas > panel-body {
	height: calc( 100% - 42px * 2 );
}

/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

panel.panel-canvas panel-header > a > div.a-inner {
	/* padding-top: 9.5px; */
	/* padding-left: 1px; */
	padding-left: 0;
	padding-top: 4px;
}

panel-header > a > div.a-inner {
	padding-top: 4px;
}

/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

body.window-full main {
	top: -1px;
	height: calc( 100vh + 1px );
}

panel.panel-canvas > panel-header {
	padding-left: 0;
}

panel-header > a:not( :last-child ) {
	margin-right: 2px;
}

panel.panel-canvas panel-header > div:first-child {
	flex-grow: 0;
}

div.spacer {
	flex-grow: 1;
}

/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

div.box {
	z-index: 10;
}

/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

main.layer-full panel.panel-menu {
	/* opacity: 0.0; */
}

main.layer-full div.column-right {
	display: none;
}

panel.panel-menu > panel-body > panel.panel-tools {
	flex-grow: 0;
	height: auto;
}

panel.panel-menu > panel-body > panel.panel-palette {
	height: auto;
}

/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

body.app-overlay-show > main {
	opacity: 0.5;
}

/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/


/* body.app-overlay-show main > * {
	opacity: 0.5;
	transition: opacity 0.1s linear 0.0s;
}

body.app-overlay-show main {
	opacity: 0.0;
	transform: scale( 0.94 );
	transition: transform 0.2s ease-in, opacity 0.2s step-end;
} */

/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

body {
	overflow: hidden;
}

/* app-menu {
	position: absolute;
	left: 0;
	top: 36px;
	width: 240px;
	height: calc( 100vh - 36px );
	background: #FFF;
	border-top: 1px solid #666;
	border-right: 1px solid #666;
} */

/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

body.app-overlay-show > top > ul.menu-list > li:first-child > a {
	position: relative;
	z-index: 2;
}

body.app-overlay-show > top > ul.menu-list > li:first-child > a > div.a-inner {
	/* background: #000;
	color: #FFF; */
}

/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/


main.mute-active ul.layer-list > li.active::before,
main.mute-active ul > li.active > a::before {
	opacity: 0.0;
}

main.mute-active ul.tool-list > li.active > a {
	border-left-color: transparent;
}

main.mute-active div.box {
	opacity: 0.0;
}

/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

main.mute-active ul.tool-list > li.hover > a,
main.mute-active ul.layer-list > li.hover > a {
	background: #FFE8FC;
	/* background: #FFD1FA; */
}

/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

panel-footer {
	height: 24px;
}

panel.panel-canvas > panel-body {
    height: calc( 100% - 42px - 24px );
}

/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

div.rgb {
	width: 16px;
	height: 16px;
	margin-top: 12px;
	margin-right: 6px;

	border: 1px solid currentColor;
	box-shadow: inset 0 0 0 1px #FFF;
}

/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

panel-footer {
	display: flex;
	line-height: 24px;
}

panel-footer > div {
	padding: 0 8px;
}

/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

panel.panel-history {
	flex-direction: column;
}

panel.panel-history > panel-body {
	display: flex;
	flex-direction: row;
}

panel-body > panel.panel-history {
	overflow: auto;
}

panel.panel-history > panel-body {
	overflow-x: hidden;
    overflow-y: scroll;
}

panel-footer {
	flex-shrink: 0;
}

panel.panel-history {
	padding-bottom: 1px;
}

panel.panel-layer panel-body {
	height: reset;
	flex-grow: 1;
}

panel.panel-layer {
	display: flex;
	flex-direction: column;
}

panel-body > .panel {
	width: 239px;
}

panel-body > panel.panel-layer {
   overflow: hidden;
}

panel-body > panel.panel-layer > panel-body {
	overflow-x: hidden;
	overflow-y: scroll;
}

div.column-right div.box {
    width: 216px;
}

div.column-right > panel-body {
    margin-top: 0;
}

main.layer-focus ul.layer-list > li:not( .selected ) {
	display: none;
}

/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

body {
	display: flex;
	flex-direction: column;
}

body.app-overlay-show main {
	pointer-events: none;
}

/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

panel.panel-full {
	position: absolute;
	left: 0;
	top: 0;

	z-index: 100;

	opacity: 0.0;
	pointer-events: none;
}

main.layer-full panel.panel-full {
	opacity: 1.0;
	pointer-events: all;
}


/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/



/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

div.column-right div.box {
	display: none;
}

div.column-right ul.layer-list {
	padding-left: 16px;
	padding-right: 0;
}

ul.layer-list > li.active::before {
	left: -16px;
}




/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

main > * {
	background: transparent;
}

main.layer-full panel.panel-menu {
	opacity: 0;
}

panel.panel-full {
	transform: translateX( 24px );
}

panel.panel-full {
	transform: translateX( 24px );
}
