div.palette {
	width: 42px;
	/* height: 100%; */
	/* height: 50%; */
	display: flex;
	flex-direction: column;
}

div.swatch {
	width: 100%;
	height: 40px;
	flex-grow: 1;
	margin-bottom: 2px;

	position: relative;
}

div.palette {
	border: 2px solid #FFF;
}

div.swatch.active {
	border: 2px solid #F6E;
	box-shadow: inset 0 0 0 1px #FFF;
}

div.swatch {
	overflow: hidden;
}

div.swatch.active::before {
	content: "A";
	/* content: "A B"; */
	/* content: "A B C"; */
	position: absolute;
	width: 12px;
	padding: 0 4px;
	/* height: 12px; */
	background: #F6E;
	text-align: center;
	color: #FFF;
	font-weight: 500;
	line-height: 12px;


	font-size: 8px;


	left: -2px;
	top: 0px;

	outline: 1px solid #FFF;

	overflow: hidden;
}

/* div.swatch.active::before {
	background: none;
	outline: none;
	
	left: 2px;
	top: 4px;
	font-size: 13px;

	color: #F6E;

	text-shadow:
		-1px -1px 0 #FFF,
		 0px -1px 0 #FFF,
		 1px -1px 0 #FFF,
		 1px  0px 0 #FFF,
		 1px  1px 0 #FFF,
		 0px  1px 0 #FFF,
		-1px  1px 0 #FFF,
		-1px  0px 0 #FFF;
} */

/* div.swatch.active::before {
	-webkit-text-stroke: 1px #FFF;
	font-weight: 800;
	left: 0px;

	overflow: visible;
} */

/* div.swatch.active {
	border-color: transparent;
	box-shadow: inset 0 0 0 1px #FFF, inset 0 0 0 3px #F6E, inset 0 0 0 4px #FFF;
	box-shadow: inset 0 0 0 2px #F6E, inset 0 0 0 3px #FFF;
} */

/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

div.swatch {
	width: 43px;
	height: 30px;
	height: 16px;
	/* border: 2px solid #FFF; */
	/* margin-top: -2px; */
	/* margin-left: -2px; */
	/* margin-bottom: 0; */
}

div.swatch::after {
	position: absolute;
	left: -4px;
	top: -2px;
	content: "";
	display: block;
	width: 47px;
	height: 16px;
}


div.palette {
	border: 0;
	padding: 2px;
	position: relative;
}

/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

div.swatch {
	border-width: 0 !important;
	box-shadow: none !important;
	margin-bottom: 1px;
}

div.swatch::before {
	z-index: 100;
}

div.swatch.active::before {
	left: 0;
	top: 0;
	outline: 0;
	width: 16px;
	height: 16px;
	line-height: 14px;
	/* box-shadow: 1px 0 0 0 #FFF; */
}

div.swatch.active::after {
	content: "";
	display: block;
	position: absolute;
	width: 17px;
	height: 16px;
	left: 0;
	top: 0;
	background: #FFF;
}

/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

div.swatch[data-color="erase"] {
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACAQMAAABIeJ9nAAAABlBMVEX////Z2dl4b8nnAAAADElEQVQI12NwYGgAAAFEAMHrWQMJAAAAAElFTkSuQmCC);
	background-size: 8px;
	image-rendering: pixelated;
}