html {
	color: #444;
	font-family: "Segoe UI";
	font-size: 13px;
}

/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

canvas {
	image-rendering: pixelated;
}

/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

div.view-label::before {
	content: attr( data-label );
}

/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

li.b {
	color: #07D;
}

/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

div.label {
	height: 40px;
	line-height: 40px;
	padding: 0 16px;
}

div.canvas {
	overflow: scroll;
}

div.canvas {
	overflow: hidden;
	height: 100%;
}

div.panel-canvas > div.panel-body {
	overflow: scroll;
	height: calc( 100% - 42px );
}

div.main.layer-full > div.column-right > div.panel-body > div.panel-header {
	display: none;
}

#a-layer-close:not( :hover ):not( :active ) {
	color: #C00;
}

/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

div.panel-canvas > div.panel-header {
    border-color: #666;
    margin-left: 2px;
    padding-left: 14px;
    margin-right: -1px;
}

/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

div.panel-menu {
	overflow: hidden;
}

div.panel-menu > div.panel-body {
	width: 239px;
}

div.main.tools-focus > div.panel-menu {
	width: 48px;
}

div.main.tools-focus > div.panel-menu > div.panel-body > div.panel-header > div:first-child,
div.main.tools-focus > div.panel-menu > div.panel-body > div.panel-header > div:first-child + a {
	display: none;
}

/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

div.main.tools-focus > div.panel-canvas {
	left: 48px;
	width: calc( 100vw - 48px - 240px );
}

div.main.tools-focus.layer-focus > div.panel-canvas {
	left: 48px;
	width: calc( 100vw - 48px - 48px );
}

/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

/* div.canvas {
	border: 4px solid #FFF;
}

div.panel-canvas > div.panel-header {
    margin-left: 4px;
    padding-left: 12px;
} */

/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

div.panel-canvas > div.panel-header {
    margin-left: 0;
    padding-left: 16px;
}

/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

div.main.layer-full > div.column-right > div.panel-body > div.panel {
	overflow: visible;
}

div.main.layer-full > div.column-right > div.panel-body > div.panel:not( .active ) {
	display: none;
}

div.panel-body > div.panel {
	flex-shrink: 1;
}

/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

body {
	background: #000;
}

div.main {
	background: #FFF;
}

/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

div.main.layer-full > div.column-right {
	overflow: visible;
}

div.main.layer-full > div.column-right > div.panel-body {
	overflow-y: scroll;
	overflow-x: hidden;
}

/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

div.panel-header > a[disabled] {
	color: #AAA;
}

div.panel-header > a.mute[disabled] > div.a-inner {
	color: #AAA;
}

/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

div.box {
	position: absolute;
	top: 2px;
	left: 2px;
	width: 43px;
	height: 16px;
	border: 2px solid #F6E;
	box-shadow: inset 0 0 0 1px #FFF;
	pointer-events: none;
}

/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

div.panel-footer {
	height: 42px;
	border-top: 1px solid #666;
}

div.panel-canvas {
	padding-right: 0;
}

div.panel-canvas > div.panel-header {
	margin-right: 0;
}

div.panel-canvas > div.panel-body {
	height: calc( 100% - 42px * 2 );
}

/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

div.panel-canvas div.panel-header > a > div.a-inner {
	/* padding-top: 9.5px; */
	/* padding-left: 1px; */
	padding-left: 0;
	padding-top: 4px;
}

div.panel-header > a > div.a-inner {
	padding-top: 4px;
}

/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

body.window-full div.main {
	top: -1px;
	height: calc( 100vh + 1px );
}

div.panel-canvas > div.panel-header {
	padding-left: 0;
}

div.panel-header > a:not( :last-child ) {
	margin-right: 2px;
}

div.panel-canvas div.panel-header > div:first-child {
	flex-grow: 0;
}

div.spacer {
	flex-grow: 1;
}

/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

div.box {
	z-index: 10;
}

/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

div.main.layer-full div.panel-menu {
	/* opacity: 0.0; */
}

div.main.layer-full div.column-right {
	display: none;
}

div.panel-menu > div.panel-body > div.panel-tools {
	flex-grow: 0;
	height: auto;
}

div.panel-menu > div.panel-body > div.panel-palette {
	height: auto;
}

/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

body.app-overlay-show > div.main {
	opacity: 0.5;
}

/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

div.main {
	background: #000;
	background: #FFF;
}

body {
	background: #000;
	/* background: #808080; */
	/* background: #FFF; */
}

/* TODO have div.main-body intermediate element instead of >* */

div.main > * {
	background: #FFF;
}

/* body.app-overlay-show div.main > * {
	opacity: 0.5;
	transition: opacity 0.1s linear 0.0s;
}

body.app-overlay-show div.main {
	opacity: 0.0;
	transform: scale( 0.94 );
	transition: transform 0.2s ease-in, opacity 0.2s step-end;
} */

/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

body {
	overflow: hidden;
}

/* div.app-menu {
	position: absolute;
	left: 0;
	top: 36px;
	width: 240px;
	height: calc( 100vh - 36px );
	background: #FFF;
	border-top: 1px solid #666;
	border-right: 1px solid #666;
} */

/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

body.app-overlay-show > div.top > ul.menu-list > li:first-child > a {
	position: relative;
	z-index: 2;
}

body.app-overlay-show > div.top > ul.menu-list > li:first-child > a > div.a-inner {
	/* background: #000;
	color: #FFF; */
}

/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

div.main.mute-active ul > li.active > a {
	background: #FFF;
	color: #444;
}

div.main.mute-active ul.layer-list > li.active::before,
div.main.mute-active ul > li.active > a::before {
	opacity: 0.0;
}

div.main.mute-active ul.tool-list > li.active > a {
	border-left-color: transparent;
}

div.main.mute-active div.box {
	opacity: 0.0;
}

/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

div.main.mute-active ul.tool-list > li.hover > a,
div.main.mute-active ul.layer-list > li.hover > a {
	background: #FFE8FC;
	/* background: #FFD1FA; */
}

/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

div.panel-footer {
	height: 24px;
}

div.panel-canvas > div.panel-body {
    height: calc( 100% - 42px - 24px );
}

/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

div.rgb {
	width: 16px;
	height: 16px;
	margin-top: 12px;
	margin-right: 6px;

	border: 1px solid currentColor;
	box-shadow: inset 0 0 0 1px #FFF;
}

/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

div.panel-footer {
	display: flex;
	line-height: 24px;
}

div.panel-footer > div {
	padding: 0 8px;
}

/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

div.panel-history {
	flex-direction: column;
}

div.panel-history > div.panel-body {
	display: flex;
	flex-direction: row;
}

div.panel-body > div.panel.panel-history {
	overflow: auto;
}

div.panel-history > div.panel-body {
	overflow-x: hidden;
    overflow-y: scroll;
}

div.panel-footer {
	flex-shrink: 0;
}

div.panel-history {
	padding-bottom: 1px;
}

div.panel-layer div.panel-body {
	height: reset;
	flex-grow: 1;
}

div.panel-layer {
	display: flex;
	flex-direction: column;
}

div.panel-body > div.panel {
	width: 239px;
}

div.panel-body > div.panel.panel-layer {
   overflow: hidden;
}

div.panel-body > div.panel.panel-layer > div.panel-body {
	overflow-x: hidden;
	overflow-y: scroll;
}

div.column-right div.box {
    width: 216px;
}

div.column-right > div.panel-body {
    margin-top: 0;
}

div.main.layer-focus ul.layer-list > li:not( .selected ) {
	display: none;
}

/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

body {
	display: flex;
	flex-direction: column-reverse;
}

body.app-overlay-show div.main {
	pointer-events: none;
}

/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

div.panel-full {
	position: absolute;
	left: 0;
	top: 0;

	z-index: 100;

	opacity: 0.0;
	pointer-events: none;
}

div.main.layer-full div.panel-full {
	opacity: 1.0;
	pointer-events: all;
}

/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

div.main:not( .layer-focus ) ul.layer-list > li.selected:not( .active ) > a,
ul.layer-list > li > a:hover:not( :active ), ul.layer-list > li > a:hover:not( :active ) + a {
	background: #FFE8FC;
}

ul.layer-list > li.active > a:first-child,
ul.layer-list > li.active > a:first-child + a {
	background: #FFD1FA;
}

ul.layer-list > li.active {
	color: #000;
}

ul.layer-list > li.active > a:first-child {
	background: #FFD1FA;
}

ul.layer-list > li:not( .active ) > a:hover {

}

/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

div.column-right div.box {
	display: none;
}

div.column-right ul.layer-list {
	padding-left: 16px;
	padding-right: 0;
}

ul.layer-list > li.active::before {
	left: -16px;
}

ul.layer-list > li {
	border-color: #FFF;
}

/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

div.main > * {
	background: transparent;
}

div.main.layer-full div.panel-menu {
	opacity: 0;
}

div.panel-full {
	transform: translateX( 24px );
}

div.panel-full {
	transform: translateX( 24px );
}

// div.palette {
// 	display: none;
// }
