*, *::before, *::after {
	box-sizing: border-box;
	margin: 0;
	border: 0;
	outline: 0;
	padding: 0;
	color: inherit;
	font: inherit;
}

html {
	height: 100%;
	width: 100%;

	-webkit-user-select: none; user-select: none;
	cursor: default;
}

body {
	height: 100%;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

ul > li > a {
	display: block
}

html {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;

	font-size: 13px;
}
