div.row {
	display: flex;
}

div.row > div {
	margin-right: 4px;
}

/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/




div#hue-sat > div.inner {
    background: repeating-linear-gradient( 90deg, #F00 0, #838383 6% );
    background-size: calc( 50% * 50 / 3 );
}

div#hue-squash {
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACAQMAAABIeJ9nAAAABlBMVEX////Z2dl4b8nnAAAADElEQVQI12NwYGgAAAFEAMHrWQMJAAAAAElFTkSuQmCC);
	background-size: 8px;
}

div#hue-squash > div.inner {

    background: repeating-linear-gradient( 90deg, transparent 0, #838383 6% );
    background-size: calc( 50% * 50 / 3 );
}
