*, *::before, *::after {
	box-sizing: border-box;
	margin: 0;
	border: 0;
	outline: 0;
	padding: 0;
	color: inherit;
	font: inherit;
}

html {
	height: 100%;
	width: 100%;

	-webkit-user-select: none; user-select: none;
	cursor: default;
}

body {
	height: 100%;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

ul > li > a {
	display: block
}

/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

body {
	background: #DDD;
}

div.main {
	height: 100%;
	display: flex;
}

div.main > div {
	width: 274px;
	padding: 8px;
	background: #FFF;
	margin: 8px;
	margin-right: 0;
}

div.swatch,
div.picker,
div.hue::after,
canvas.hue {
	box-shadow:
	    inset 0 0 0 1px rgba(   0,   0,   0, 0.5  ),
		inset 0 0 0 2px rgba( 255, 255, 255, 0.5  ),
		inset 0 0 0 3px rgba(   0,   0,   0, 0.15 );
}

div.thumb {
	box-shadow:
	    inset 0 0 0 1px rgba(   0,   0,   0, 0.5  ),
		inset 0 0 0 2px rgba( 255, 255, 255, 0.95  ),
		inset 0 0 0 3px rgba(   0,   0,   0, 0.15 );
}

div.picker,
div.hue {
	position: relative;
	overflow: hidden;
}

div.hue::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

div.picker {
	width: 258px;
	height: 258px;

	background:
		-webkit-linear-gradient(top, hsl(0, 0%, 100%) 0%, hsla(0, 0%, 100%, 0) 50%, hsla(0, 0%, 0%, 0) 50%, hsl(0, 0%, 0%) 100%),
		-webkit-linear-gradient(left, hsl(0, 0%, 50%) 0%, hsla(0, 0%, 50%, 0) 100%);

	/* background-color: #F00; */
}

div.hue {
	height: 40px;
}

div.hue > div.inner {
	position: relative;
	height: 100%;

	width: 200%;

	background: repeating-linear-gradient( 90deg, #F00 0, #FF0 1%, #0F0 2%, #0FF 3%, #00F 4%, #F0F 5%, #F00 6% );
	background-size: calc( 50% * 50 / 3 );
}

div.swatch {
	width: 40px;
	height: 40px;
}

div.thumb {
	width: 16px;
	height: 16px;
	position: absolute;
	left: -8px;
	top: 11px;
	z-index: 1;
}

div.picker > div.thumb {
	top: -8px;
}

div.hue::after,
div.hue > div.inner {
	pointer-events: none;
}

div.palette {
	display: flex;
	flex-wrap : wrap;
	/* background: #333; */
	padding: 7px;
	margin: 0 -7px;
}

div.palette > div.swatch {
	position: relative;
	margin-right: 3px;
	margin-bottom: 3px;
}

div.palette > div.swatch.active::after {
	content: "";

	position: absolute;
	top: 0;
	left: 0;

	width: 40px;
	height: 40px;

	border: 1px solid #000;
	box-shadow:
		inset 0 0 0 1px #FFF,
		inset 0 0 0 2px #000;

	pointer-events: none;
}

canvas.hue {
	height: 40px;
	width: 256px;
}

input {
	padding: 0 12px;
	border: 1px solid #666;
	line-height: 38px;
}

form {
	line-height: 40px;
	margin: 16px 0 ;
}

form > p {
	display: flex;
	overflow: hidden;
	height: 40px;
}

form > p:not( :last-of-type ) {
	margin-bottom: 8px;
}


label {
	width: 30%;
}

label + input {
	width: 70%;
}

input[type=checkbox] {
	margin-left: 30%;
	width: 20px;
	margin-top: 14px;
}

input[type=checkbox] + label {
	flex-grow: 1;
}

button {
	width: 100%;
	text-align: center;
	background: transparent;
}

button > div {
	background: #DDD;
}

form {
	border: 0 solid #DDD;
	border-width: 1px 0;
	padding: 16px 0;
}

button:active > div,
button:hover > div {
	background: #000;
	color: #FFF;
}

button:active:hover > div {
	transform: scale( 0.96 );
}

canvas {
	margin-left: 1px;
	outline: 1px solid #666;
}


div.row {
	display: flex;
}

div.row > div {
	margin-right: 4px;
}

select {
	width: 100%;
	border: 1px solid #666;
}

select {
	padding: 0 12px;
}

canvas {
	margin-bottom: 8px;
	image-rendering: pixelated;
}

img {
	margin-bottom: 8px;
	/* margin: 40px 0; */
	outline: 1px solid #666;
}

canvas {
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACAQMAAABIeJ9nAAAABlBMVEX////Z2dl4b8nnAAAADElEQVQI12NwYGgAAAFEAMHrWQMJAAAAAElFTkSuQmCC);
	background-size: 8px;
}

/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

div.column-header {
	height: 40px;
	line-height: 40px;
	padding: 0 10px;

}

body {
	background: #F2F2F2;
}

div.column {
	border: 1px solid #AAA;
	padding: 0;

	display: flex;
	flex-direction: column;
}

div.palette {

}

ul.palette-list {
	/* line-height: 40px; */
	padding: 0 2px;
	height: 100%;
	/* margin: -8px; */
}

ul.palette-list > li  {

}

ul.palette-list > li > a {
	height: 40px;
	padding: 8px;
}

ul.palette-list > li > a:hover {
	background: #F2F2F2;
}

ul.palette-list:active > li > a:hover {
	background: #DDDDDD;
}

ul.palette-list > li > a > div {
	display: flex;
}

ul.palette-list > li > a > div > div {
	height: 4px;
	flex-grow: 1;
}

ul.palette-list > li > a > div > div[style="background:#FFFFFF;"] {
	border: 1px solid #000;
}

div.column {
	position: relative;
}

div.panel {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	/* overflow: hidden; */
	display: flex;
	flex-direction: column;
}

div.panel:not( :only-child ):not( .active ) {
	display: none;
}

div.panel-body {
	flex-grow: 1;
	/* flex-shrink: 1; */
	overflow-y: scroll;
	/* height: calc( 100% - 40px ); */
}

ul.palette-list {
	padding-bottom: 40px;
}

ul.palette-list > li > a {
	height: 80px;
}

ul.palette-list > li > a > img {
	width: 64px;
	height: 64px;
	float : left;
	margin-right: 8px;
}

div.palette {
	margin: 0;
}

div.picker {
	width: 256px;
	height: 256px;
}

div.picker {
	margin-top:-1px;
}

div.palette > div.swatch {
	margin-right: -1px;
	margin-bottom: -1px;
}

div.palette > div.swatch.active::after {
	outline: none;
}

div.key {
	border: 1px solid #AAA;
	border-radius: 3px;
	line-height: 10px;
	height: 16px;
	padding: 0 4px;
	width: auto;
	display: inline-block;
}

div.key::before {
	content: attr( data-key );
	font-size: 8px;
	text-transform: capitalize;
}

div.column-header {
	display: flex;
	flex-shrink: 0;
}

div.column-header a {
	display: block;
	color: #07D;
	padding: 0 8px;
	margin-left: -8px;
	cursor: pointer;
}

div.column-header a:hover {
	background: #F2F2F2;
}

div.column-header a:active {
	background: #DDD;
}

canvas {
	margin-bottom: 0;
}

div#hue-sat > div.inner {
    background: repeating-linear-gradient( 90deg, #F00 0, #838383 6% );
    background-size: calc( 50% * 50 / 3 );
}

div#hue-squash {
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACAQMAAABIeJ9nAAAABlBMVEX////Z2dl4b8nnAAAADElEQVQI12NwYGgAAAFEAMHrWQMJAAAAAElFTkSuQmCC);
	background-size: 8px;
}

div#hue-squash > div.inner {

    background: repeating-linear-gradient( 90deg, transparent 0, #838383 6% );
    background-size: calc( 50% * 50 / 3 );
}

form > label {
	display: block;
}

form > label {
	width: 100%;
}

input[type=radio] {
	margin-right: 8px;
}
