@import "../reset.css";
@import "../layout.css";
@import "../top.css";

@import "overlay.css";
@import "canvas.css";

@import "theme.css";

@import "learn.css";


div#drop {
    border: 4px dashed;
    height: 64px;
    margin: 4px 0;
}


ul {
    list-style: none;
    line-height: 32px;
}

ul > li > a {
    display: block;
}

/* ul > li > a:hover {
    background: #222;
} */

h#fps {
    line-height: 32px;
    height: 32px;
}

ul#roms > li > a::before {
    content: attr( data-label );
}

dl {
    display: block;
    width: 256px;
    border: 1px solid var( --color-border );
}
















dt, dd {
    /* float: left; */
    padding-left: 6px;
}

dt, dd {
    /* width: 127px; */
}

/* dl::after {
    content: "";
    display: block;
    clear: both; */
/* } */

h {
    display: block;
    height: 32px;
    line-height: 32px;
}



button,
a {
    padding: 0 8px;
    line-height: 32px;
    height: 32px;
}





















h {
    display: flex;
}


body.focus menu, body.focus side {
    display: none;
}

body.fullscreen, body.focus main {
    border: 0;
}

body.focus main tray {
    display: none;
}

body.focus top {
    /* display: none; */
}

select {
    background: transparent;
}


option {
    line-height: 32px;
}





optgroup + optgroup {
    border-top: 1px solid var( --color-border );
}

label {
    display: block;
    line-height: 32px;
    padding-left: 8px;
}

column > page:not([active]) {
    display: none;
}

h {
    display: flex;
}

h > t {
    flex-grow: 1;
}





canvas#display {
    margin-left: calc( 50% - 128px * 4 );
}

canvas#nts + canvas#chr {
    margin-top: -1px;
}

tl {
    display: flex;
    line-height: 32px;
    border-bottom: 1px solid var( --color-border );
    height: 32px;

}

tl > li {
    border: 0 solid var( --color-border );
    border-right-width: 1px;
    margin-bottom: -1px;
    height: 32px;
}

tl > li:first {
    border-left-width: 0;
}

tl > li[active] > a {
    position: relative;
}

tl > li[active] > a::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    bottom: 0px;
    position: absolute;
    left: 0;
}


tl > li > a {
    display: block;
    height: 32px;
}

tl > li[active] > a:hover::after {
    /* background: #FFE8FC; */
}

tl > li[active] > a:hover:active::after {
	/* background: #FFD1FA; */
}

tl > li:last-child {
    flex-grow: 1;
    display: flex;
}

tl > li:last-child::before {
    content: "";
    display: block;
    flex-grow: 1;
}

tl > li:last-child {
    border-right-width: 0;
}









panel {
    display: block;
}

monitor {
    margin-top: 8px;
}



top {
    padding-left: 32px;
}




p > input,
p > label {
    display: block;
    line-height: 31px;
    height: 31px;
    width: 100%;
}

p>label[data-value]::before {
    content: attr(data-value);
}

p label::after, p label::before {
    font-family: monospace;
    float: right;
}

p.unlocked>label[data-prefix]::after
 {
    color: var(--color-fg);
    opacity: 1;
}

p label[data-prefix]::after {
    content: attr(data-prefix) ".";
    color: #839496;
    opacity: .5;
}

p > b {
    display: flex;
}

p > b::before {
        content: "";
    flex-grow: 0;
}

input[type=checkbox], p>b>input[type=checkbox] {
    width: 16px;
    height: 16px;
    margin-right: 2px;
    box-shadow: inset 0 0 0 1px #000;
}

input[type=checkbox] {
    -webkit-appearance: none;
}

input[type=checkbox], p.param-seed>b>input[type=checkbox] {
    width: 16px;
    height: 16px;
    margin-right: 2px;
    box-shadow: inset 0 0 0 1px #000;
}

input[type=checkbox] {
    -webkit-appearance: none;
}

button {
    width: 64px;
    line-height: 30px;
    border: 1px solid var( --color-border );
    background: 0 0;
    color: var(--color-neutral);
    padding: 0 12px;
    text-align: center;
}

button, h2, select {
    /* height: 32px; */
}

button.spin {
    width: 32px;
    padding: 0;
}

button.spin, h2 {
    font-size: 16px;
}

p {
    display: block;
    line-height: 32px;
}

p > b {
    display: flex;
    width: 100%;
}

b::before, button.reset, p.spacer {
    flex-grow: 1;
}



page {
    display: flex;
    flex-direction: column;
    /* height: 100%; */
}

page > ul {
    flex-grow: 1;
}

page > p {
    padding: 0 8px;
    padding-bottom: 8px;
}

label[disabled] {
    pointer-events: none;
}

input[type=checkbox] {
    position: relative;
    top: 2px;
    height: 14px;
    width: 14px;
}







ul#rom > li > a::before {
    content: attr( data-label );
}







pre.code {
    overflow-y:scroll;
}









page {
    display: flex;
    overflow: hidden;
    /* overflow-y: scroll; */
}

page > table {
    flex-grow: 1;
    flex-shrink: 1;
    min-height: 0;
    overflow-y: scroll;
}

page:not([active]) {
    display: none;
}

page {
    padding-left: 8px;

}

h {
    padding-left: 0;
}

main > h {
    padding-left: 8px;
}

ul#rom {
    margin-left: -8px;
}

ul#rom > li > a {
    overflow:hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}




table#code {
    font-family: "Consolas", "Courier New", Courier, monospace;
    /* width: 100%; */
}


td {

}


tr {
    /* width: 100%; */
}



side > page > div {
    margin-left: -8px;
}








page > h > a {
    margin-left: -8px;
}


main > panel > page:not([active]) {
    display: none;
}

tray {
    display: block;
    border-top: 1px solid var( --color-border );
}

input.cpu-flag {
    width: 32px;
    height: 32px;
    flex-grow: 1;
    margin-right:-1px;
    border-color: var( --color-border );
    padding-left: 8px;
}

input.cpu-flag:checked {
    background: #FFF;
}

p.cpu-flag {
    display:flex;
    padding: 0;
    padding-right:8px;
}

dl.cpu {
    display:flex;
    margin-top: 8px;
    margin-bottom: -1px;
    height: 32px;
    line-height: 30px;
}

dl.cpu > dd,
dl.cpu > dt {
    flex-grow: 1;
    display: block;
    flex-basis: 0;
    min-width:0;
}

dl.cpu > dt {
    border-left: 1px solid var( --color-border );
}

input.cpu-flag::before {
    content: attr( data-label );
    display: block;
}

dd > a {
    line-height: 30px;
    margin-left: -8px;
    display: block;
}

main > page {
    padding: 0;
    height: 960px;
}

body.focus top {
    display: none;
}

body.focus main {
    grid-area: 1 / 1 / 3 / 4;
}


dl.cpu,
p.cpu-flag {
   width: 480px;
}

p.cpu-flag {
    padding-right: 0;
    margin-bottom: 2px;
}

p.cpu-flag > input.cpu-flag:last-child {
    margin-right: 0
}

dl.cpu > dd > a {
    padding: 0 8px;
    margin-left: -16px;
}





page#page-main-display {
    padding: 4px;
}

main > page {
    height: calc( 960px + 4px * 2 );
}











table#code td {
    padding: 0 4px;
}


page > div {
    overflow-y: scroll;
     position: relative;
}

table#code {

}

table#code thead tr {
    position: sticky;
    top: -30px;
    margin-top: -2px;
    background: #000;
    line-height: 32px;
    border-top: 2px solid #000;
    height: 34px;
    outline: 2px solid #000;
}

table#code thead tr th {
    border-bottom: 1px solid #FFF;
}

page#page-main-code div {
    padding-top: 32px;
}

table#code {
    margin-top: -32px;
}

table#code td a {
    line-height: inherit;
}




div#drop {
    overflow: hidden;
    margin-right: 8px;
    margin-bottom: 12px;
}


ul#rom:not(:empty) + div#drop {
    display: none;
}

div#drop::before {
    content: "Drag and drop ROM file here";
    display: block;
    line-height: 50px;
    text-align: center;
}




main > page > h {
    padding-left: 8px;
}

page#page-main-learn {
    overflow-y: scroll;
}


page#page-main-code > div {
    flex-grow: 1;
}

menu > page > h:not(:first-child) {
    border-top: 1px solid var( --color-border );
    margin-left: -8px;
    padding-left: 8px;
}


body.focus > main > page {
    height: calc(100% - 32px);
}


page#page-main-learn table {
    font-family: 'Consolas', 'Courier New', Courier, monospace;
}

table td {
    vertical-align: top;
}


page#page-main-code {
    -webkit-user-select: text; user-select: text;
}

page#page-main-code table {
    border-collapse: separate;
}







/* dl {
    width: calc( 100% - 8px );
    border: none;
}

dl > dt {
    padding: 0;
} */

dl {
    display: grid;
    grid-template-columns: max-content auto;
    line-height: 24px;
}

dt {
  grid-column-start: 1;
}

dd {
  grid-column-start: 2;
}

menu dl:empty::before {
    content: "None";
    display: block;
    padding-left: 8px;
}

menu dl {
    width: calc( 100% - 8px );
    font-family: 'Consolas', 'Courier New', Courier, monospace;
}

menu > page > h:not(:first-child) {
    margin-top: 8px;
}

dl, dt, dd {
    border: none;
    /* padding: 0; */
}

side > page {
    padding: 0;
}

side > page > h {
    padding-left: 8px;
}

side > page > canvas {
    margin-left: 2px;
    border: 0 !important;
    width: 256px !important;
}



div.canvas {
    overflow: scroll;
}

menu {
    display: flex;
}

menu > page {
    flex-grow: 1;
}




html {
    color-scheme: dark;
    background: #2C2C2C;
    /* color: #9F9F9F; */
}
