
html {
    background: #000;
    color: #FFF;
}


button, a {
    color: #F6E;
}

button:hover,
a:hover {
    background: currentColor;
    color: #FFF;
}

button:hover,
a:hover {
	background: #FFE8FC;
    color: #444;
}

button:hover:active,
a:hover:active {
	background: #FFD1FA;
    color: #444;
}


option {
    background: #000;
    color: #FFF;
}

tl, tl > li {
    border-color: #FFF;
}

tl > li[active] > a::after {
    background: #000;

}












panel {
    border-color: #FFF;
}





/* ol#side-tab > li > a:hover {
    background: none;
    color: #F6E;
}

ol#side-tab > li > a:hover:active {
    background: none;
    color: #F6E;
} */












td:first-child {

}

tr.nes-header {

}












a {
    color: #FFF;
}

a:hover, a:active {
    background: #FFF;
    color: #000;

}

a:hover:active {
    background: #FFF;
    transform: scale(0.95);
}







input[type=checkbox] {
    border: 1px solid currentcolor;
}

input[type=checkbox]:checked {
    background: currentColor;
}


label[disabled] {
    color: #666;
}

label:not([disabled]):hover {
    background: #FFF;
    color: #000;
}

label:not([disabled]):hover > input:checked {
    color: #FFF;
}







input.cpu-flag::before {
    content: none;
}

input.cpu-flag:checked {
    background: currentColor;
    color: #000;
    border-color: #FFF;
}


















top > t {
    padding: 0 8px;
    display: block;
    /* flex-grow: 1; */
    line-height: 32px;
}

top > img {
    position: absolute;
    top: 0;
    left: 0;
    height: 32px;
    border-bottom: 1px solid currentColor;
}

top > ul > li > ul > li {
    padding-left: 8px;
}

top > ul > li > ul > li > a,
top > ul > li > ul > li > label {
    margin-left: -8px;
}

top > ul > li > ul {
    border: 1px solid currentColor;
    border-top-width: 0;
}

top > img {
    border-color: #FFF;
}

top > ul > li > ul {
	background: #000;
	border-color: #FFF;
}

top > ul > li.active > a {
    background: #FFF;
    color: #000;
}
