canvas#chr {
    width: 2048px;
    width: 1024px;
}


canvas#nts {
    width: 512px;
}

canvas#palette-debug {
    width: 64px;
    height: 512px;
}

/*  */

monitor {
	display:block;
    height: 128px;
    background: #444;
}

monitor > canvas {
    height: 128px;
}

canvas#display {
    display: block;
    width: 1024px;
    width: 512px;

    width:  calc( 256px * 4 );
    height: calc( 240px * 4 );
}

canvas {
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}

display  {
	display: block;
    height: calc( 240px * 4 );
}

canvas {
	display: block;
}

canvas#chr {
    width: 512px;
}

column {
    padding: 0 8px;
}
