@import "overlay.css";
@import "canvas.css";

html {
    background: #000;
    color: #FFF;
    font-family: 'Courier New', Courier, monospace;
}

body {
    overflow: hidden;
    margin: 0;
}

div.center {
    width: 512px;
    margin-left: calc( 50vw - 256px );
}

div#drop {
    border: 4px dashed #444;
    height: 64px;
    margin: 4px 0;
}

div#drop.drag-over {
    border-color: #666;
}

ul {
    list-style: none;
    line-height: 32px;
}

ul > li > a {
    display: block;
}

/* ul > li > a:hover {
    background: #222;
} */

h#fps {
    line-height: 32px;
    height: 32px;
}

ul#roms > li > a::before {
    content: attr( data-key );
}

dl {
    display: block;
    width: 256px;
    border: 1px solid #FFF;
}

dt, dd {
    float: left;
    padding-left: 6px;
}

dt, dd {
    width: 127px;
}

dl::after {
    content: "";
    display: block;
    clear: both;
}

main {
    display: flex;
}

main > column {

}

body {
    display: flex;
    flex-direction: column;
}

h {
    display: block;
    height: 32px;
    line-height: 32px;
}

top {
    height: 32px;
    border-bottom: 1px solid currentColor;
    display: flex;
}

top > t {
    padding: 0 8px;
    display: block;
    flex-grow: 1;
    line-height: 32px;
}

button,
a {
    padding: 0 8px;
    color: currentColor;
    line-height: 32px;
    color: #F6E;
}

button:hover,
a:hover {
    background: currentColor;
    color: #FFF;
}

main {
    flex-grow: 1;
    border-top: 1px solid currentColor;
}

button:hover,
a:hover {
	background: #FFE8FC;
    color: #444;
}

button:hover:active,
a:hover:active {
	background: #FFD1FA;
    color: #444;
}

h {
    display: flex;
}

column {
    border: 0 solid currentColor;
    border-width: 0 1px;
}

column.main {
    flex-grow: 1;
}


body.focus column:not( column.main ) {
    display: none;
}


body.fullscreen, main,
body.focus column.main {
    border: 0;
}

body.focus column.main h,
body.focus column.main monitor  {
    display: none;
}

body.focus top,
body.fullscreen top {
    display: none;
}

select {
    background: transparent;
}

option {
    background: #000;
    color: #FFF;
    line-height: 32px;
}

optgroup + optgroup {
    border-top: 1px solid currentColor;
}

label {
    display: block;
    line-height: 32px;
    padding-left: 8px;
}

column > page {
    /* display: block; */
    /* width: 100%; */
}

column > page:not([active]) {
    display: none;
}

h {
    display: flex;
}

h > t {
    flex-grow: 1;
}

column.main {
    position: relative;
    overflow: hidden;
    min-width: 1024px;
}

canvas#display {
    margin-left: calc( 50% - 128px * 4 );
}

canvas#nts,
canvas#chr,
canvas#chr-total {
    border: 1px solid #FFF;
    box-shadow: inset 0 0 0 1px #000;
}

canvas#nts + canvas#chr {
    margin-top: -1px;
}

ol {
    display: flex;
    line-height: 32px;
    margin: 0 -8px;
    border-bottom: 1px solid #FFF;
    height: 32px;

}

ol > li {
    border: 0 solid #FFF;
    border-right-width: 1px;
    margin-bottom: -1px;
    height: 32px;
}

ol > li:first {
    border-left-width: 0;
}

ol > li[active] > a {
    position: relative;
}

ol > li[active] > a::after {
    content: "";
    display: block;
    background: #000;
    width: 100%;
    height: 1px;
    bottom: 0px;
    position: absolute;
    left: 0;
}

ol > li > a {
    display: block;
    height: 32px;
}

ol > li[active] > a:hover::after {
    background: #FFE8FC;
}

ol > li[active] > a:hover:active::after {
	background: #FFD1FA;
}

ol > li:last-child {
    flex-grow: 1;
    display: flex;
}

ol > li:last-child::before {
    content: "";
    display: block;
    flex-grow: 1;
}

ol > li:last-child {
    border-right-width: 0;
}

panel {
    display: block;
}

column > panel {
    border-top: 1px solid #FFF;
    margin: 0 -8px;
    padding: 0 8px;
}

monitor {
    margin-top: 8px;
}

top > img {
    position: absolute;
    top: 0;
    left: 0;
    height: 32px;
    border-bottom: 1px solid #FFF;
}

top {
    padding-left: 32px;
}




p > input,
p > label {
    display: block;
    line-height: 31px;
    height: 31px;
    width: 100%;
}

p>label[data-value]::before {
    content: attr(data-value);
}

p label::after, p label::before {
    font-family: monospace;
    float: right;
}

p.unlocked>label[data-prefix]::after
 {
    color: var(--color-fg);
    opacity: 1;
}

p label[data-prefix]::after {
    content: attr(data-prefix) ".";
    color: #839496;
    opacity: .5;
}

p > b {
    display: flex;
}

p > b::before {
        content: "";
    flex-grow: 0;
}

input[type=checkbox], p>b>input[type=checkbox] {
    width: 16px;
    height: 16px;
    margin-right: 2px;
    box-shadow: inset 0 0 0 1px #000;
}

input[type=checkbox] {
    -webkit-appearance: none;
    border: 1px solid #7092BE;
}


input[type=checkbox], p.param-seed>b>input[type=checkbox] {
    width: 16px;
    height: 16px;
    margin-right: 2px;
    box-shadow: inset 0 0 0 1px #000;
}

input[type=checkbox] {
    -webkit-appearance: none;
    border: 1px solid #7092BE;
}

button {
    width: 64px;
    line-height: 30px;
    border: 1px solid currentColor;
    background: 0 0;
    color: var(--color-neutral);
    padding: 0 12px;
    text-align: center;
}

button, h2, select {
    /* height: 32px; */
}

button.spin {
    width: 32px;
    padding: 0;
}

button.spin, h2 {
    font-size: 16px;
}

p {
    display: block;
    line-height: 32px;
}

p > b {
    display: flex;
    width: 100%;
}

b::before, button.reset, p.spacer {
    flex-grow: 1;
}



page {
    display: flex;
    flex-direction: column;
    height: 100%;
}

page > ul {
    flex-grow: 1;
}

page > p {
    margin: 0 -8px;
    padding: 0 8px;
    padding-bottom: 8px;
}
