*, *::before, *::after {
	box-sizing: border-box;
	margin: 0;
	outline: none;
	border: none;
	padding: 0;
	color: inherit;
	font: inherit;
}

html {
	-webkit-user-select: none; user-select: none;
	-webkit-user-drag: none;
	overflow:hidden;
}

html {
	color: #666;

	font-family:
		system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
		"Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
		"Droid Sans", "Helvetica Neue", sans-serif;
}
