canvas {
	display: block;
	background: #FFF;
	background-size: 16px;
	image-rendering: pixelated;
}

div.canvas {
	border: 1px solid #000;
	padding: 1px;
	/* width: 260px; */
}

/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

main {
	display: flex;

	height: 100vh;

	padding: 16px;

	background: #EEE;
}

div.column {
	padding: 8px;
	/* background: #FFF; */
	height: 100%;
	margin-right: 8px;
}

/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

div.swatch {
	display: flex;
	width: 260px;
	height: 79px;
	padding: 24px 12px;
	border: 1px solid #000;
	box-shadow: inset 0 0 0 1px #FFF;
}

div.swatch::before,
div.swatch::after {
	content: attr( data-hex );
	flex-grow: 1;

	text-align: center;
	font-family: monospace;
	font-size: 24px;

	color: #FFF;
}

div.swatch::after {
	color: #000;
}

/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

h2 {
	line-height: 39px;
}

/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

div.slider {
	position: relative;
	height: 40px;
	border: 1px solid #000;
	padding: 1px;
	box-shadow: inset 0 0 0 1px #FFF;
	overflow: hidden;
}

div.slider + div.slider {
	margin-top: -1px;
}

div.slider > div {
	margin-left: -6.5px;

	position: absolute;
	top: 10px;
	left: 0px;

	width: 16px;
	height: 16px;

	border: 1px solid #000;
	box-shadow: inset 0 0 0 1px #FFF;
}

div.slider > div.slide-right {
	transform: translateX( -16px );
}

div.slider > div.slide-left {
	transform: translateX( 16px );
}

div.slider > div:not( .slide-right ):not( .slide-left ) {
	transition: transform 0.1s ease-out;
}

/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

div.spectrum {
	border: 1px solid #000;
	padding: 1px;
	width: 516px;
	height: 68px;
}

div.spectrum > canvas {
	width: 512px;
	height: 64px;
}

div.gradient {
	border: 1px solid #000;
	padding: 1px;

	width: 516px;
	height: 108px;
}

div.gradient, div.spectrum {
	margin-bottom: 8px;
}

div.gradient > div {
	height: 40px;
}

div.gradient > div > div {
	width: 16px;
	height: 16px;
	border: 1px solid #000;
}

/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/


script {
	/* display: block; */
}

code {
	font-family: monospace;
}

div.code-view {
	height: 100%;
	overflow-y: scroll;
}

main {
	background: transparent;
}

body {
	background: #EEE;
}

div.canvas + div.canvas {
	margin-top: -1px;
}

h2 {
	line-height: 38px;
	height: 38px;
}

div.canvas {
	display: none;
}

html {
	font-size: 13px;
}

div.swatch { height: 63px; padding: 16px 12px; }
div.slider{ height: 32px; }
h2 { line-height: 30px; height: 30px; }
div.slider > div { top: 7px; }

div.image-list > div > img {
	display: block;
	width: 63px;
	height: 63px;
	border: 1px solid #000;
	padding: 1px;
	background-size: cover;
	background-position: center;
}

div.image-list > div + div {
	margin-top: -1px;
}

form {
	border: 1px dashed #000;
	/* border: 2px dashed #CCC; */
	padding: 0 24px;
	height: 63px;
	line-height:61px;
}

html {
	color: #444;
}

div.column {
	overflow-y: scroll;
}

div#view-work {
	display: flex;
	flex-direction: column;
}

div#view-work div.canvas {
	display: block;
}

canvas#work-canvas {
	width: 100%;
	flex-grow: 1;
}
div.swatch + div.swatch {
	margin-top: -1px;
}
