div.column-header {
	height: 40px;
	line-height: 40px;
	margin-top: 2px;
}

div.column {
	/* border: 1px solid #AAA; */
	padding: 0;

	display: flex;
	flex-direction: column;
}

div.column {
	position: relative;
}

div.panel {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	/* overflow: hidden; */
	display: flex;
	flex-direction: column;
}

div.panel:not( :only-child ):not( .active ) {
	display: none;
}

div.panel-body {
	flex-grow: 1;
	/* flex-shrink: 1; */
	overflow-y: scroll;
	/* height: calc( 100% - 40px ); */
}

div.column-header {
	display: flex;
	flex-shrink: 0;
}

div.column-header a {
	display: block;
	color: #07D;
	padding: 0 8px;
	margin-left: -8px;
	cursor: pointer;
}

div.column-header a:hover {
	background: #F2F2F2;
}

div.column-header a:active {
	background: #DDD;
}

div.column > div.column-header:first-child {
	margin-top: -6px;
	margin-bottom: 2px;
}

div.column-header {
	display:flex;
}

div.column-header > span {
	flex-grow: 1;
}

div.column-header > a {
	position: relative;
}

div.column-header > a:first-child:hover::before {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 293px;
	height: 1268px;
	border: 2px solid #F0F;
	pointer-events: none;
}
