

column {
	/* border: 1px solid #AAA; */
	padding: 0;

	display: flex;
	flex-direction: column;
}

panel {
	display: flex;
	flex-direction: column;
}

panel:not( :only-child ):not( .active ) {
	display: none;
}

panel-body {
	flex-grow: 1;
	/* flex-shrink: 1; */
	overflow-y: scroll;
	/* height: calc( 100% - 40px ); */
}

h {
	line-height: 32px;
	height: 32px;
}

h {
	display: flex;
	flex-shrink: 0;
}

h a {
	display: block;
	color: #07D;
	padding: 0 8px;
	margin-left: -8px;
	cursor: pointer;
}

h a:hover {
	background: #F2F2F2;
}

h a:active {
	background: #DDD;
}

h {
	display:flex;
}

h > span {
	flex-grow: 1;
}

h > a {
	position: relative;
}

h > a:first-child:hover::before {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 293px;
	height: 1268px;
	border: 2px solid #F0F;
	pointer-events: none;
}

column {
	width: 260px;
}
