div.key {
	border: 1px solid #AAA;
	border-radius: 3px;
	line-height: 10px;
	height: 16px;
	padding: 0 4px;
	width: auto;
	display: inline-block;
}

div.key::before {
	content: attr( data-key );
	font-size: 8px;
	text-transform: capitalize;
}
